@model List<DezenaSorteio>

<!--a asp-action="Inserir" class="btn btn-primary fas fa-plus">Novo Resultado</a-->
<br />
<br />




<table id="myDataTable" class="table table-striped table-bordered nowrap" style="width:100%">
    <thead>
        <tr>
            <th>Dezena</th>
            <th>Numero Sorteio</th>
            
        </tr>
    </thead>


    <tbody id="bodyDados">
        @if(Model != null) {
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Dezena)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroSorteio)
                </td>                
            </tr>
        }
        }
        
    </tbody>

</table>